/* CSS */
body, html {
	height: 100%;
	min-height: 100%;
  background-color: #F1F1F1;
}
body {
  margin: 0px !important;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

h2 {
  font-size: 30px;
}

/* Welcome Slide */
#welcome .bcg {
  background: none;
}

.cherrybackground {
	background-image: url('../img/welcome/cherry.png');
	background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.welcome-image {
  background-image: url('../img/welcome/00_scroll_001.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

/* Slide 1 */
#slide-1 .bcg {
  color: #283644;
  background: none;
  height: 610px;
  text-align: center;
}

.cherryblossim {
  background-image: url('../img/01/01_welcome_001.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

.pika-slide1 {
  background-image: url('../img/01/01_welcome_002.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

.speech-slide1 {
	background-image: url('../img/01/01_welcome_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
}

.speech-text1 {
	background-image: url('../img/01/01_welcome_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
}

.speech-text2 {
	background-image: url('../img/01/01_welcome_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
}

.speech-text3 {
	background-image: url('../img/01/01_welcome_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
	width: 650px !important;
}

.speech-text4 {
	background-image: url('../img/01/01_welcome_007b.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
	width: 700px !important;
}

.speech-text5 {
	background-image: url('../img/01/01_welcome_007c.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
	width: 700px !important;
}

/* Slide 2 */
#slide-2 .bcg {
  color: #283644;
  background: none;
  text-align: center;
}

.polaroid1 {
  background-image: url('../img/02/02_foreigners_001.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.pika-slide2 {
  background-image: url('../img/02/02_foreigners_002.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech-slide2 {
  background-image: url('../img/02/02_foreigners_003.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
	width: 800px !important;
}

.text-slide2 {
  background-image: url('../img/02/02_foreigners_004.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
	width: 800px !important;
}

/* Slide 3 */
#slide-3 .bcg {
  color: #283644;
  background: none;
  text-align: center;
}

.dot-slide3 {
  background-image: url('../img/03/03_traits_001.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.pika-slide3 {
  background-image: url('../img/03/03_traits_002.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech1-slide3 {
  background-image: url('../img/03/03_traits_013.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text1-slide3 {
  background-image: url('../img/03/03_traits_014.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech2-slide3 {
  background-image: url('../img/03/03_traits_003.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text2-slide3 {
  background-image: url('../img/03/03_traits_004.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech3-slide3 {
  background-image: url('../img/03/03_traits_005.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text3-slide3 {
  background-image: url('../img/03/03_traits_006.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech4-slide3 {
  background-image: url('../img/03/03_traits_007.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text4-slide3 {
  background-image: url('../img/03/03_traits_008.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech5-slide3 {
  background-image: url('../img/03/03_traits_009.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text5-slide3 {
  background-image: url('../img/03/03_traits_010.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech6-slide3 {
  background-image: url('../img/03/03_traits_011.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text6-slide3 {
  background-image: url('../img/03/03_traits_012.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech7-slide3 {
  background-image: url('../img/03/03_traits_015.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}
.text7-slide3 {
  background-image: url('../img/03/03_traits_016.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

/* Slide 4 */
#slide-4 .bcg {
  color: #283644;
  background: none;
  text-align: center;
}

.polaroid2 {
  background-image: url('../img/04/04_fundamentals_001.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.pika-slide4 {
  background-image: url('../img/04/04_fundamentals_003.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.other-slide4 {
  background-image: url('../img/04/04_fundamentals_002.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.speech-slide4 {
  background-image: url('../img/04/04_fundamentals_004.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.text1-slide4 {
  background-image: url('../img/04/04_fundamentals_005.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.text2-slide4 {
  background-image: url('../img/04/04_fundamentals_006.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.text3-slide4 {
  background-image: url('../img/04/04_fundamentals_007.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.text4-slide4 {
  background-image: url('../img/04/04_fundamentals_008.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

/* Slide 5 */
.char-slide5 {
	background-image: url('../img/05/05_values_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide5 {
	background-image: url('../img/05/05_values_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide5 {
	background-image: url('../img/05/05_values_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech2-slide5 {
	background-image: url('../img/05/05_values_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech3-slide5 {
	background-image: url('../img/05/05_values_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech4-slide5 {
	background-image: url('../img/05/05_values_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech5-slide5 {
	background-image: url('../img/05/05_values_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 6-1 */
#slide-6-1 .bcg {
  color: #283644;
  background: none;
  text-align: center;
}

.polaroid3 {
	background-image: url('../img/06_1/06_dutyloyalty_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}

.pika-slide6-1 {
	background-image: url('../img/06_1/06_dutyloyalty_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech-slide6-1 {
	background-image: url('../img/06_1/06_dutyloyalty_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 6-2*/
#slide-6-2 .bcg {
	color: #283644;
	background: none;
}

.polaroid4 {
	background-image: url('../img/06_2/06_dutyloyalty_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}

.pika-slide6-2 {
	background-image: url('../img/06_2/06_dutyloyalty_02_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}

.speech1-slide6-2 {
	background-image: url('../img/06_2/06_dutyloyalty_02_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech2-slide6-2 {
	background-image: url('../img/06_2/06_dutyloyalty_02_009.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech3-slide6-2 {
	background-image: url('../img/06_2/06_dutyloyalty_02_010.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 7*/
#slide-7 .bcg {
	color: #283644;
	background: none;
}

.group-slide7 {
	background-image: url('../img/07/07_western_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide7 {
	background-image: url('../img/07/07_western_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide7 {
	background-image: url('../img/07/07_western_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.text1-slide7 {
	background-image: url('../img/07/07_western_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 9999999;
}
.speech2-slide7 {
	background-image: url('../img/07/07_western_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.text2-slide7 {
	background-image: url('../img/07/07_western_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999999;
}
.text3-slide7 {
	background-image: url('../img/07/07_western_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999999;
}
.text4-slide7 {
	background-image: url('../img/07/07_western_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999999;
}
.text5-slide7 {
	background-image: url('../img/07/07_western_009.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999999;
}
.speech3-slide7 {
	background-image: url('../img/07/07_western_010.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.text6-slide7 {
	background-image: url('../img/07/07_western_011.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999999;
}

.speech4-slide7 {
	background-image: url('../img/07/07_western_012.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech5-slide7 {
	background-image: url('../img/07/07_western_013.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.text7-slide7 {
	background-image: url('../img/07/07_western_014.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech6-slide7 {
	background-image: url('../img/07/07_western_015.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.text8-slide7 {
	background-image: url('../img/07/07_western_016.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 8 */
#slide-8 .bcg {
	color: #283644;
	background: none;
}

.pika-slide8 {
	background-image: url('../img/08/08_traitshistory_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech1-slide8 {
	background-image: url('../img/08/08_traitshistory_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide8 {
	background-image: url('../img/08/08_traitshistory_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide8 {
	background-image: url('../img/08/08_traitshistory_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide8 {
	background-image: url('../img/08/08_traitshistory_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide8 {
	background-image: url('../img/08/08_traitshistory_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech6-slide8 {
	background-image: url('../img/08/08_traitshistory_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech7-slide8 {
	background-image: url('../img/08/08_traitshistory_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 9 */
#slide-9 .bcg {
	color: #283644;
	background: none;
}

.polaroid5 {
	background-image: url('../img/09/09_system_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide9 {
	background-image: url('../img/09/09_system_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech-slide9 {
	background-image: url('../img/09/09_system_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 10 */
#slide-10 .bcg {
	color: #283644;
	background: none;
}

.polaroid6 {
	background-image: url('../img/10/10_confucius_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.other-slide10 {
	background-image: url('../img/10/10_confucius_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide10 {
	background-image: url('../img/10/10_confucius_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide10 {
	background-image: url('../img/10/10_confucius_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide10 {
	background-image: url('../img/10/10_confucius_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 11 */
#slide-11 .bcg {
	color: #283644;
	background: none;
}

.polaroid7 {
	background-image: url('../img/11/11_natural_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.other-slide11 {
	background-image: url('../img/11/11_natural_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.pika-slide11 {
	background-image: url('../img/11/11_natural_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide11 {
	background-image: url('../img/11/11_natural_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide11 {
	background-image: url('../img/11/11_natural_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* Slide 12 */
#slide-12 .bcg {
	color: #283644;
	background: none;
}

.polaroid8 {
	background-image: url('../img/12/12_shinto_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide12 {
	background-image: url('../img/12/12_shinto_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide12 {
	background-image: url('../img/12/12_shinto_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-13-14-15 */
#slide-13-14-15 .bcg {
	color: #283644;
	background: none;
}

.polaroid9 {
	background-image: url('../img/13/13_water_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.polaroid10 {
	background-image: url('../img/14/14_arch_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide15 {
	background-image: url('../img/15/15_kami_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide15 {
	background-image: url('../img/15/15_kami_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide15 {
	background-image: url('../img/15/15_kami_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide15 {
	background-image: url('../img/15/15_kami_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide15 {
	background-image: url('../img/15/15_kami_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-16-17 */
#slide-16-17 .bcg {
	color: #283644;
	background: none;
}

.polaroid11 {
	background-image: url('../img/16/16_samurai_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.polaroid12 {
	background-image: url('../img/17/17_homosexuality_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide16 {
	background-image: url('../img/17/17_homosexuality_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide16 {
	background-image: url('../img/17/17_homosexuality_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide16 {
	background-image: url('../img/17/17_homosexuality_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide16 {
	background-image: url('../img/17/17_homosexuality_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide16 {
	background-image: url('../img/17/17_homosexuality_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-18 */
#slide-18 .bcg {
	color: #283644;
	background: none;
}

.polaroid13 {
	background-image: url('../img/18/18_feudal_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide18 {
	background-image: url('../img/18/18_feudal_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide18 {
	background-image: url('../img/18/18_feudal_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-19 */
#slide-19 .bcg {
	color: #283644;
	background: none;
}

.polaroid14 {
	background-image: url('../img/19/19_emperor_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide19 {
	background-image: url('../img/19/19_emperor_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide19 {
	background-image: url('../img/19/19_emperor_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide19 {
	background-image: url('../img/19/19_emperor_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide19 {
	background-image: url('../img/19/19_emperor_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide19 {
	background-image: url('../img/19/19_emperor_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-20 */
#slide-20 .bcg {
	color: #283644;
	background: none;
}

.polaroid15 {
	background-image: url('../img/20/20_americanisation_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide20 {
	background-image: url('../img/20/20_americanisation_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide20 {
	background-image: url('../img/20/20_americanisation_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide20 {
	background-image: url('../img/20/20_americanisation_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide20 {
	background-image: url('../img/20/20_americanisation_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-21 */
#slide-21 .bcg {
	color: #283644;
	background: none;
}

.polaroid16 {
	background-image: url('../img/21/21_kamikaze_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide21 {
	background-image: url('../img/21/21_kamikaze_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide21 {
	background-image: url('../img/21/21_kamikaze_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide21 {
	background-image: url('../img/21/21_kamikaze_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide21 {
	background-image: url('../img/21/21_kamikaze_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-22 */
#slide-22 .bcg {
	color: #283644;
	background: none;
}

.polaroid17 {
	background-image: url('../img/22/22_comfort_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

.pika-slide22 {
	background-image: url('../img/22/22_comfort_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

.speech1-slide22 {
	background-image: url('../img/22/22_comfort_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech2-slide22 {
	background-image: url('../img/22/22_comfort_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech3-slide22 {
	background-image: url('../img/22/22_comfort_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech4-slide22 {
	background-image: url('../img/22/22_comfort_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech5-slide22 {
	background-image: url('../img/22/22_comfort_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech6-slide22 {
	background-image: url('../img/22/22_comfort_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}
.speech7-slide22 {
	background-image: url('../img/22/22_comfort_009.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

/* slide-23 */
#slide-23 .bcg {
	color: #283644;
	background: none;
}

.gif1 {
	background-image: url('../img/23/23_breadwinner_004.gif');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}
.gif2 {
	background-image: url('../img/23/23_breadwinner_003.gif');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}


.pika-slide23 {
	background-image: url('../img/23/23_breadwinner_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide23 {
	background-image: url('../img/23/23_breadwinner_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-24 */
#slide-24 .bcg {
	color: #283644;
	background: none;
}

.polaroid18 {
	background-image: url('../img/24/24_gender_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.polaroid19 {
	background-image: url('../img/25/24_women_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
}

.pika-slide24 {
	background-image: url('../img/24/24_gender_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.other-slide024 {
	background-image: url('../img/25/24_women_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide24 {
	background-image: url('../img/24/24_gender_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide24 {
	background-image: url('../img/24/24_gender_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide24 {
	background-image: url('../img/24/24_gender_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide24 {
	background-image: url('../img/24/24_gender_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide24 {
	background-image: url('../img/24/24_gender_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech6-slide24 {
	background-image: url('../img/24/24_gender_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-26 */
#slide-26 .bcg {
	color: #283644;
	background: none;
}

.polaroid20 {
	background-image: url('../img/26/26_honne_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide26 {
	background-image: url('../img/26/26_honne_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide26 {
	background-image: url('../img/26/26_honne_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide26 {
	background-image: url('../img/26/26_honne_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-27 */
#slide-27 .bcg {
	color: #283644;
	background: none;
}

.polaroid21 {
	background-image: url('../img/27/27_LGBT_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
}

.polaroid22 {
	background-image: url('../img/27/27_LGBT_002.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.polaroid23 {
	background-image: url('../img/27/27_LGBT_003.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 300px;
}

.pika-slide27 {
	background-image: url('../img/27/27_LGBT_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech3-slide27 {
	background-image: url('../img/27/27_LGBT_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide27 {
	background-image: url('../img/27/27_LGBT_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide27 {
	background-image: url('../img/27/27_LGBT_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech6-slide27 {
	background-image: url('../img/27/27_LGBT_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech7-slide27 {
	background-image: url('../img/27/27_LGBT_009.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech8-slide27 {
	background-image: url('../img/27/27_LGBT_010.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech9-slide27 {
	background-image: url('../img/27/27_LGBT_011.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech10-slide27 {
	background-image: url('../img/27/27_LGBT_012.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech11-slide27 {
	background-image: url('../img/27/27_LGBT_013.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech12-slide27 {
	background-image: url('../img/27/27_LGBT_014.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-28 */
#slide-28 .bcg {
	color: #283644;
	background: none;
}

.polaroid24 {
	background-image: url('../img/28/28_Diet_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide28 {
	background-image: url('../img/28/28_Diet_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide28 {
	background-image: url('../img/28/28_Diet_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide28 {
	background-image: url('../img/28/28_Diet_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide28 {
	background-image: url('../img/28/28_Diet_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide28 {
	background-image: url('../img/28/28_Diet_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide28 {
	background-image: url('../img/28/28_Diet_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-29 */
#slide-29 .bcg {
	color: #283644;
	background: none;
}

.polaroid25 {
	background-image: url('../img/29/29_conclusion_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.pika-slide29 {
	background-image: url('../img/29/29_conclusion_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.speech1-slide29 {
	background-image: url('../img/29/29_conclusion_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech2-slide29 {
	background-image: url('../img/29/29_conclusion_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide29 {
	background-image: url('../img/29/29_conclusion_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-30 */
#slide-30 .bcg {
	color: #283644;
	background: none;
}

.heart {
	background-image: url('../img/30/30_equality_001.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
}

.pika-slide30 {
	background-image: url('../img/30/30_equality_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 650px;
}

.speech1-slide30 {
	background-image: url('../img/30/30_equality_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
}
.speech2-slide30 {
	background-image: url('../img/30/30_equality_004.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech3-slide30 {
	background-image: url('../img/30/30_equality_005.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech4-slide30 {
	background-image: url('../img/30/30_equality_006.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech5-slide30 {
	background-image: url('../img/30/30_equality_007.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}
.speech6-slide30 {
	background-image: url('../img/30/30_equality_008.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

/* slide-31 */
#slide-31 .bcg {
	color: #283644;
	background: none;
}

.background-slide31 {
	background-image: url('../img/31/31_perspective_001.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
}

.text1-slide31 {
	background-image: url('../img/31/31_perspective_004.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 970;
}

.text2-slide31 {
	background-image: url('../img/31/31_perspective_005.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 980;
}

.text3-slide31 {
	background-image: url('../img/31/31_perspective_006.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 990;
}


.char-slide31 {
	background-image: url('../img/31/31_perspective_002.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999;
}

.pika-slide31 {
	background-image: url('../img/31/31_perspective_003.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
	z-index: 999;
}


/* Misc styles */
.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	padding: 0 8%;
	text-align: center
}
.hsContent p {
	width: 400px;
	margin: 0 auto;
}
